include README.md
include LICENSE
include requirements*.txt
recursive-include docs *.md
include pyproject.toml
include setup.py
recursive-include data *.desktop *.metainfo.xml
recursive-include flatpak *.yml
recursive-include debian *
include PKGBUILD
include mfatext.spec

